Source: ros-kinetic-geometric-shapes
Section: misc
Priority: extra
Maintainer: Ioan Sucan <isucan@google.com>
Build-Depends: debhelper (>= 9.0.0), libassimp-dev, libboost-all-dev, libconsole-bridge-dev, libeigen3-dev, libqhull-dev, pkg-config, ros-kinetic-catkin (>= 0.5.68), ros-kinetic-cmake-modules, ros-kinetic-eigen-stl-containers, ros-kinetic-octomap, ros-kinetic-random-numbers, ros-kinetic-resource-retriever, ros-kinetic-shape-msgs, ros-kinetic-visualization-msgs
Homepage: http://ros.org/wiki/geometric_shapes
Standards-Version: 3.9.2

Package: ros-kinetic-geometric-shapes
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libassimp-dev, libboost-all-dev, libconsole-bridge-dev, libeigen3-dev, libqhull-dev, ros-kinetic-eigen-stl-containers, ros-kinetic-octomap, ros-kinetic-random-numbers, ros-kinetic-resource-retriever, ros-kinetic-shape-msgs, ros-kinetic-visualization-msgs
Description: This package contains generic definitions of geometric shapes and bodies.
